doctype html
// saved from url=(0026)http://192.168.173.1:8080/
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    style#stndz-style.
    style.
      html, body{
      height: 100%;
      width: 100%;
      overflow: hidden;
      }
    script(src='../index_files/canvas.js')
    script(src='../index_files/grid.js')
    script(src='../index_files/vehicle.js')
  body
    script(src='../index_files/main.js')
    canvas(height='792', width='792', style='position: relative; top: 0px; left: 372px;')
